body{

    font-family: 'Vollkorn', serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 16px;
    }
    
    
    *{
        margin: 0;
        padding: 0;
        font-family: "poppins" , sans-serif;
        box-sizing: border-box;
    }
    .header{
        height: 100%;
        width: 100%;
        padding: 0 8%;
        background-repeat: no-repeat;
        background-image: url(media/alo.jpeg);
    
    
    }
    .previous {
        background-color: #9fdaf1;
        color: black;
        position: absolute;
        left: 25%;
        top: 3%;    
    
    }    


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 250px;
}

.Pirin{
   position: absolute;
   left: 75%;
   top: 10%;
}
.Slaiq{
    position: absolute;
   left: 75%;
   top: 10%;
}
h2{
    text-align: center;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(60, 214, 137, 0.726);
    color: white;
  }
  
  table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      color: antiquewhite;
      background-color:rgba(51, 139, 51, 0.726);
    }
    
   table td,  th  {
      border: 1px solid #ddd;
      padding: 8px;
    }


.card {
    position: relative;
    height: 400px;
    width: 1200px; 
    left: 10%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    border: 4px solid #457B9D;
    background-image: url('media/Slaviq.jpg');
    background-repeat: no-repeat;
    background-position-x: right;

}
.inner {
    
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgba(255, 255, 255, 0.623);
    box-sizing: border-box;
    padding: 40px;
}
.inner{
    font-size: 24px;
    color: black;  
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 0 0 20px 0;
}
.subtitle {
    color: #E63946;
 
  }
  .date {
    color: #1D3557;
 
  }


@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
